CHANGELOG.md export-ignore
Gemfile.lock export-ignore
ruby.ico  export-ignore
VERSION  export-ignore
*.gitattributes  export-ignore
.rubocop.yml export-ignore
archivia.bat export-ignore
download.bat export-ignore
converti.bat export-ignore
scheduler.bat export-ignore
download_dev export-ignore
download export-ignore
gui.bat export-ignore
remit.xlsm export-ignore
lastupdate_dev export-ignore
.solargraph.yml export-ignore
.rufo export-ignore
cache export-ignore
